
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


a {
    font-family: Montserrat;
}

.container-head {
    display: flex;
    width: 100%;
    padding: 20px 0px 20px 0px;
    justify-content: center;
}

.content-head {
    display: flex;
    width: 1200px;
    align-items: center;
}

.ico {
    width: 45px;
    height: 45px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    
}

.menu {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
